# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other setting files
.idea
.vscode
app/.settings
app/.project
app/.classpath
app/target/*
app/bin/*

# database file
lukuvinkki.db
jdbc:sqlite:lukuvinkki.db

