# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ IDEA workspace settings
.idea

# VS code settings file
.vscode

# database file
lukuvinkki.db
jdbc:slite:lukuvinkki.db

